{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generated Hash</title>
    <link
      rel="stylesheet"
      href="{% static 'building_name_generator/result.css'%}"
    />
  </head>
  <body>
    <div class="new-expense">
      <p class="short_hash">Short Hash: {{short_hash}}</p>
    </div>
    <div class="new-expense">
      <p class="short_hash">Long Hash: {{hash}}</p>
    </div>
  </body>
</html>
